<div class="i18nModal" data-modal="i18n">
  <div class="i18nModal-content">
    <h3>Languages</h3>
    <a role="button" class="btn" href="/{{ this.path }}">{{ 'english' | i18n: page }}</a>
    <a role="button" class="btn" href="/es/{{ this.path }}">{{ 'spanish' | i18n: page }}</a>
    <a role="button" class="btn" href="/zh/{{ this.path }}">{{ 'chinese' | i18n: page }}</a>
    <a role="button" class="btn secondary" data-modal-close="i18n">{{ 'button' | i18n: page }}</a>
  </div>
</div>
